body {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #afd9f7, #f0f2ff);
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body,
ul,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
